@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    font-family: "Caveat", cursive;
    margin: 0;
    padding: 0;
}

:root{
    --preto: #262402;
    --amarelo: #F2E205;
    --verde-l: #EAF205;
    --verde-s: #565902;
    --verde-m: #888C03;
}
body{
    background-color: var(--verde-m);
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--verde-s);
    color: var(--amarelo);
    padding: 1rem;
}
.link{
    text-decoration: none;
    color: var(--amarelo);
}

.menu{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
}
main{
    height: 90vh;
    width: 80%;
    margin: auto;
    background-color: var(--preto);
}
.grade{
    display: flex;
    justify-content: center;
    align-items: center;
}
.var{
    text-align: center;
    padding: 2rem;
    color: var(--amarelo);
}
.var button{
    padding: 5px;
    margin: 10px;
    font-size: 1rem;
    background-color: var(--verde-s);
    color: var(--amarelo);
    border-radius: 10px;
    border: 1px;
    box-shadow: 0 0 0.5rem 0.1rem var(--verde-s);
}
.var button:hover{
    box-shadow: 0 0 0.5rem 0.1rem var(--amarelo);
    cursor: pointer;
    transform: scale(1.2);
}
.para {
    padding: 10px;
    font-size: 1.1rem;
}
.footer{
    background-color: var(--verde-s);
    color: var(--amarelo);
    text-align: center;
    padding: 16px;
    position: sticky;
}
/* -----------------carrossel------------------ */
.slideshow-container {
    position: relative;
    /* width: 600px; */
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.slide {
    display: none;
}
.slide img {
    width: 100%;
    border-radius: 10px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
    border-radius: 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.fade {
    animation: fade 1s;
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
/* ------------------fim carrossel--------------------- */